
	html {
		background-color: black;
		color: #dfdfdf;
	}

/* raleway-300 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'),
         url('../fonts/raleway-v14-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v14-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* raleway-700 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'),
         url('../fonts/raleway-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  
  

#background {  
    position: fixed;
    z-index: -1;
    background-color: rgb(63, 18, 18);/*rgb(153, 34, 13);*/
    width: 100%;
    height: 100%;
} 

@keyframes backgroundFallin {
    00% {height: 0%;}
    10% {height: 0%;}
    50% {height: 100%;}
    65% {height: 80%;}
    80% {height: 100%;}
    90% {height: 90%;}
    100% {height: 100%;}
}

@keyframes headspin {
    0% {transform: rotate(-760deg) scale(0,0);}
    100% {transform: rotate(0deg) scale(1,1);}
}

@keyframes dealfall {
    0% {transform: translateY(-2000%) }
    1% {transform: translateY(-200%) }
    100% {transform: translateY(0%) }
}

body {
    font-family: 'Raleway';
	display: flex;
	flex-flow: row;
    text-align: center;

    font-size: 20px;
}

body > header {
    width: 100%;
    position: absolute;
    text-align: center;
    align-content: center;
	display: flex;
    flex-flow: row;
}

body > header h1 {
	display: flex;
    flex-flow: row;
	margin: 0;
}


#main {
	flex: auto;
	min-height: 100vh;
	overflow: hidden;

	display: flex;
    flex-flow: column;
    
    align-items: center;
}

#main > nav, #main > main, #main > footer {
	padding: 15px;
}


#main > main {
	flex: 1;
    margin-right: 25px;
}

#main > footer {
	padding-top: 50px;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: black;
		color: #dfdfdf;
	}

	article img:not([src$=".jpg"]):not([src$=".jpeg"]) {
		/* prevent transparent images from showing the black background */
		background-color: white;
		border: 5px solid white;
		box-sizing: border-box;
	}
}


/* Article list */
.article-list {
    max-width: 45em;
    width: 90vw;
}

.article-list article{
    margin: 1.2em 0 0 0;
}

.article-list article > header {
	display: flex;
	flex-flow: row;
	align-items: center;
	margin-bottom: 0;
}

.article-list article time {
    color:grey;
}

.article-list article h3 {
    display: inline-block;
	margin: 0.5em;
}

.article-list .summary {
    text-align: justify;
    margin: 0 1em;
}

.article-list article small {
	font-weight: normal;
	color: gray;
}

a, a:visited {
	color: inherit;
}

article > header {
	text-align: center;
	margin-bottom: 2em;
}

article > header time {
	color: gray;
}

article {
    max-width: 45em;
    width: 90vw;
	text-align: justify;
}


article img, article video {
	max-width: 100%;
}

article .footnotes {
	font-size: 0.75em;
}

pre {
	background-color: #272822;
	color: #f8f8f2;
	padding: 15px;
	overflow: auto;

	tab-size: 2;
	-moz-tab-size: 2;
}

p code, li code {
	color: #930d72;
}

.centerdiv {
    margin: 0;
    position: absolute;
    display: flex;
    width: 100%;
    height: 90%;
    z-index: -1;
}

.logo_anim {
    margin:auto;
    max-height: 60%;
    max-width: 60%;
}