{{ partial "head.html" . }}
<div id="background" style="
    animation-name: backgroundFallin;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: both;">
</div>
<div id="main">
    <main style="width: 100%;">
    <div class="centerdiv">
        <img class="logo_anim" src="img/tri.svg" alt="Triangles" style="
        animation-name: headspin;
        animation-duration: 2s;
        animation-delay: 1.1s;
        animation-fill-mode: both;">
    </div>
    <div class="centerdiv">
        <img class="logo_anim" src="img/deal.svg" alt="Triangles" style="
        animation-name: dealfall;
        animation-duration: 4s;
        animation-delay: 3.1s;
        animation-timing-function: linear;
        animation-fill-mode: both;">
    </div>

{{ partial "nav.html" . }}
{{ partial "footer.html" . }}
